<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      ng-app="App">
<head >
    <div th:insert="components/head.html"></div>
    <link rel="stylesheet" th:href="@{/css/discoverMovies.css}">
    <title>MyMovies</title>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

</head>
<body ng-controller="MainCtrl">
<!--Nanbar-->
<nav  th:insert="components/navbar.html"></nav>

<section id="movies-section" class="container ">
    <h2>Popular Movies</h2>
<!--    PAGES-->
    <table class="d-flex justify-content-center">
        <tbody>
        <tr>
            <td ng-repeat="x in [].constructor(10) track by $index ">
                <h4 class="mr-2 page"><a href="http://localhost:8080/MyMovies/discover?page={{$index+1}}"
                                         ng-class="{isThisPage: ($index+1) == page}">{{$index+1}}</a></h4>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="d-flex flex-wrap" id="movies-container">

        <div ng-repeat="movie in movies.results track by $index" id="movieBox{{$index}}"
             class="m-2 flex-grow-1 w-25 solid_box p-1 d-block">
            <div class="d-flex fit_content solid_box p-1">
                <div>
                <img id="movieImg{{$index}}" class="imgSize" src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" >
                </div>
                <div class="p-2 d-flex flex-column  border fit_content solid_box2 ">

                    <div class=" d-flex d-row fit_content">
                        <div class="star">
                        <span id="vote{{$index}}"  class="mr-3 star-text">{{movie.vote_average}}</span>
                        </div>
                        <h4 class="p-1 movie-title" id="movieTitle{{$index}}">{{movie.original_title}}</h4>
                    </div>

                    <div class="summary fit_content d-inline">
                        <p class="overview" id="movieOverview{{$index}}">{{movie.overview}}</p>
                    </div>
                    <div class="d-none" id="movieId{{$index}}">{{movie.id}}</div>
                    <div class="d-flex d-row mt-auto  justify-content-center align-items-center fit_content inline-block w-100 ">
                        <button type="button" id="movieButton{{$index}}" ng-click="MyListFunction(movie.id,$index)"
                                class="glyphicon glyphicon-pushpin btn input-block-level btn-danger w-100"><span class="ml-2  ">Add to List</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

                <span id="page" class="d-none" th:text="${page}"></span>

</section>




<div th:insert="components/scripts.html" ></div>
<script th:src="@{/js/discoverMovies.js}"></script>


</body>
</html>