<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      ng-app="App">
<head >
    <div th:insert="components/head.html"></div>
    <link rel="stylesheet" th:href="@{/css/discoverMovies.css}">
    <title>MyMovies</title>
</head>
<body ng-controller="MainCtrl">
<!--Nanbar-->
<nav  th:insert="components/navbar.html"></nav>


<section  class="container ">

</section>





<div th:insert="components/scripts.html" ></div>
<script th:src="@{/js/index.js}"></script>
</body>
</html>