<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light " id="ftco-navbar" >
    <div class="container-fluid px-0 row">

        <div class="col-xl-7 offset-xl-1 col-lg-8 d-flex align-items-center flex-wrap justify-content-between">
            <a class="navbar-brand ml-2" th:href="@{/}">MyMovies</a>

            <div class="d-flex justify-content-center" id="ftco-nav">
                <ul class="nav navbar-nav ml-auto ">
                    <li class="nav-item "><a th:href="@{/}" class="nav-link">Home</a></li>
                    <li class="nav-item"><a th:href="@{/discover}" class="nav-link">Movies</a></li>
                    <li class="nav-item"><a th:href="@{/}" class="nav-link">TV Shows</a></li>
                    <li class="nav-item"><a th:href="@{/}" class="nav-link">Actors</a></li>
                    <li th:if="${#authentication.getPrincipal()!='anonymousUser'}" class="nav-item"><a th:href="@{/}" class="nav-link text-warning">My List</a></li>
                </ul>
            </div>
        </div>
        <span class="d-none" id="accessToken" th:text="${token}"></span>

        <div class="col-4 col-lg-4 text-lg-right d-none d-lg-block">
            <div th:if="${#authentication.getPrincipal() =='anonymousUser'}">
                <a th:href="@{/login}" id="login" class="btn  btn-sm px-3 btn-warning mr-2">Sign In</a>
                <a th:href="@{/register}" class="btn btn-sm px-3 btn-warning">Sign Up</a>
            </div>
            <div th:if="${#authentication.getPrincipal()!='anonymousUser'}">
                <span class="text-white mr-3"><strong class="font-weight-bold">Welcome</strong><strong style="font-style: italic;">,&nbsp;&nbsp;<a th:href="@{/}"> <span id="username" th:text="${#authentication.getPrincipal()}"></span></a> </strong></span>
                <a th:href="@{/logout}" class="btn btn-sm px-3 btn-warning">Log out</a>
            </div>
        </div>
    </div>
</nav>
<!--Search Bar-->
    <div class="d-flex justify-content-center border-bottom " id="search_bar">
        <div class="d-flex w-50 h-100 ">
            <form id="search_bar_form" class="d-flex flex-row align-items-center w-100" method="GET" th:action="@{/search}">
                <span class="glyphicon glyphicon-search mr-2" id="search_icon"></span>
                <input id="search-input" type="text" class="w-100 border-0 h-100 autocomplete" placeholder="Search for a movie, tv show..." >
                <input id="search-input-id" name="id" type="text" class=" d-none" >
                <input id="search-input-media-type" type="text" name="media_type" class="d-none">
                <input id="input-submit" type="submit" class="d-none">
            </form>
        </div>
    </div>
