#search_bar{
    height: 40px;
    font-size: 1.5vw;
}

li{
    margin-right: 15px;
}

#ftco-nav ul li a:hover{
    background: none;
}
.glyphicon.glyphicon-star {
    color: yellow;
    font-size: 40px;
}

.movie-title {
    font-family: sans-serif;
    font-weight: 700;
    font-size: 1.2vw;
}
p.overview {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 140px;
    font-size: 13px;
}
.page:hover{
    color: blue;
    cursor: pointer;
}
.isThisPage{
    color: black;
    text-decoration: underline;

}
.imgSize{
    height:100%;
    width:200px;
}
.fit_content{
    width:fit-content;
    height:fit-content;
}
.solid_box{
    display: inline-block;
    height:340px;
    width:280px;
}
.solid_box2{
    display: inline-block;
    height:100%;
    width:150px;
}